* {
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  padding: 10px;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
nav {
  background-color: #bdd4f9;
  padding: 10px;
}
.welcome {
  width: 500px;
  text-align: center;
  background-color: #cce590;
  padding: 10px;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
form {
  background-color: #ffdfa8;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
table {
  background-color: #ffc35b;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.column2 {
  width: 45%;
  padding: 10px;
  margin: 25px;
}
td,
th {
  padding: 10px;
  border-bottom: 1px solid white;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
@media screen and (max-width: 1024px) {
  .column2 {
    width: 95%;
    padding: 10px;
    margin: 25px;
  }
  .fl {
    float: none;
  }
  .fr {
    float: none;
  }
}
