{% extends "layout.twig" %}

{% block content %}

	<h1>Tap and go Admin </h1>

	<div class = "welcome"> Bienvenue dans l'outil d'administration des villes et des stations de vélos. </div>

{% endblock %}